/* Global font-style */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Box number classes */
.two {
    background-color: whitesmoke;
    border: 1px solid gray;
    opacity: 1;
}

.four {
    background-color: tan;
    border: 1px solid gray;
    opacity: 1;
}

.eight {
    background-color: lightsalmon;
    border: 1px solid gray;
    opacity: 1;
}

.sixteen {
    background-color: orange;
    border: 1px solid gray;
    opacity: 1;
}

.trtwo {
    background-color: orangered;
    border: 1px solid gray;
    opacity: 1;
}

.sxfour {
    background-color: red;
    border: 1px solid gray;
    opacity: 1;
}

.hun28 {
    background-color: crimson;
    border: 1px solid gray;
    opacity: 1;
}

.twohun56 {
    background-color: indianred ;
    border: 1px solid gray;
    opacity: 1;
}

.fivehun12 {
    background-color: brown;
    border: 1px solid gray;
    opacity: 1;
}

.thu24 {
    background-color: purple;
    border: 1px solid gray;
    opacity: 1;
}

.twothu48 {
    background-color: black;
    border: 1px solid gray;
    opacity: 1;
}
/* End of box number classes

***
***
***

ID definitions */
#topHeader {
    text-align:center;
    width: 100%; 
    height: 10%; 
    position: absolute; 
    top: 0; 
    left: 0;
}

#game {
    position: absolute;
    float: left;
    left: 5%;
    top: 10%;
    width: 500px;
    text-align: center;
    height: 500px;
    z-index: 99;
    background-color: white;
    border-right: 1px solid gainsboro;
}

#box {
    height: auto;
    width: 400px;
    position: relative;
    top: 25px;
    left: 25px;
    border: 1px solid rgb(209, 205, 205);
    background-color: gainsboro;
    padding: 0px !important;
    border-radius: 7px;
    box-shadow: 1px 1px 7px gainsboro;
    transition: all 0.5s;
}

#controls {
    padding: 10px;
    top: 15%;
    text-align: center; 
    width: 40%;
    right: 7%;
    float: left;
    position: absolute; 
    background-color: sandybrown;
    border-radius: 20px;
    box-shadow: 1px 1px 8px gray;
}

#record {
    color:white; 
    text-shadow: 1px 1px 5px gray;
}

#newPlay, #points {
    background-color: orange;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    color: white;
    height: 50px;
    width: 160px;
    margin: 20px 10px;
    font-size: 18px;
    text-shadow: 1px 1px 5px gray;
    transition: all 0.5s;
}

#newPlay:hover{
    cursor: pointer;
    background-color: coral;
}
/* End of ID definitions

***
***
***

Class definitions */
.endGame {
    text-align:center; 
    position: relative; 
    width: 70%; 
    left: 15%; 
    height: 100px; 
    text-shadow: none;
}

.result {
    font-weight: 100; 
    color: white; 
    text-shadow: 1px 1px 5px gray;
}

.link {
    color: blue; 
    opacity: 0.7; 
    cursor: pointer;
    transition: all 0.4s;
}

.link:hover{
    opacity: 1;
}

.arrows {
    margin: 0px;
    opacity: 0.2;
    padding: 0px;
}

.contButtonsUp {
    position: relative;
    top: 15px;
    left: -5%;
    height: 14px;
    width: 350px;
    border: 1px solid gainsboro;
    background-color: gainsboro;
    border-radius: 15px;
    opacity: 0.4;
    transition: all 0.5s;
    cursor: pointer;
}

.contButtonsRight {
    position: absolute;
    float: left;
    left: 440px;
    top: 17%;
    height: 350px;
    width: 14px;
    border: 1px solid gainsboro;
    background-color: gainsboro;
    border-radius: 15px;
    opacity: 0.4;
    transition: all 0.5s;
    cursor: pointer;
}

.contButtonsLeft {
    position: absolute;
    float: left;
    left: 0;
    top: 17%;
    height: 350px;
    width: 14px;
    border: 1px solid gainsboro;
    background-color: gainsboro;
    border-radius: 15px;
    opacity: 0.4;
    transition: all 0.5s;
    cursor: pointer;
}

.contButtonsDown {
    position: relative;
    float: left;
    left: 10%;
    top: 35px;
    height: 14px;
    width: 350px;
    border: 1px solid gainsboro;
    background-color: gainsboro;
    border-radius: 15px;
    opacity: 0.4;
    transition: all 0.5s;
    cursor: pointer;
}

.contButtonsUp:hover {
    top: 5px;
    opacity: 0.9;
}

.contButtonsDown:hover {
    top: 45px;
    opacity: 0.9;
}

.contButtonsRight:hover{
    opacity: 0.9;
    left: 450px;
}

.contButtonsLeft:hover{
    opacity: 0.9;
    left: -10px;
}
/* End of class definitions

***
***
***

Other tags definitions */
tr, table, tbody {
    padding: 0px !important;
    margin: 0px !important;
}

table {
    height: 400px !important;
    width: 400px;
}

td {
    margin: 0px !important;
    padding: 0px !important;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 28px;
    border-radius: 7px;
    transition: all 0.6s;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 3px black;
    overflow: hidden;
    background-color: lightgray;
    opacity: 0.8;
}

li {
    text-align: left;
    padding-left: 5px;
    font-size: 14px;
}

ul {
    list-style: decimal;
    padding-left: 15px;
}

hr {
    width: 90%; 
    opacity: 0.3;
}
/* End of tags definitions

***
***
***

Media query */
@media screen and (max-width: 1230px){
    #controls {
        float: none;
        position: relative;
        left: 29%;
        top: 570px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    #game{
        left: 30%;
        border: none;
    }
}

@media screen and (max-width: 360px){

    #topHeader {
        left: 25%;
    }
    hr {
        display: none;
    }
    #controls {
        float: none;
        position: relative;
        left: 35%;
        top: 570px;
        margin-bottom: 30px;
        margin-top: 30px;
        width: 80%
    }
    #game{
        left: 20%;
        border: none;
    }
}
/* End of media query */